.about-comp{
    background-image: url("../images/background/wave-2.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 90px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 100px; */
    /* justify-content: center; */
}

.about-comp > h1{
    border-bottom: 5px solid #f28500;
    /* rgba(67, 13, 97, 0.502) */
}

.disp-cof{
    display: flex;
}

.about-cof{
    display: flex;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    background-color: #440e62;
    justify-content: center;
    border-radius: 0.2vw;
    padding: 40px 60px;
    color: white;
}

.about-cof > hr{
    outline: none;
    border: none;
    height: 5px;
    background-color: #f9b244;
    width: 70%;
    border-radius: 40px;
    margin-bottom: 30px;
}

.about-cof > img{
    width: 300px;
    border-radius: 100%;
    margin-bottom: 20px;
    box-shadow:0px 0px 40px rgba(0, 0, 0,0.5) ;
}

.about-cof > h1{
    font-size: 1.25rem;
}