*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.75em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #f9b244;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #f9b244;
  /* outline: 1px solid slategrey; */
}